@charset "ISO-8859-1";

.frontbody {
    margin: 90px auto;
    height: 298px;
    background: #3997bd;
    color: #fff;
    font-family: Lato;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    line-height: 298px;
    transition: all 1s ease;
}

.frontbody:hover {
    background: rgb(163, 51, 51);
}

.loginButtons {
    text-align: center;
}

.loginButtons button {
    background: #3997bd;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    width: fit-content;
    margin: 20px;
    font-size: 16px;
    text-shadow: none;
    cursor: pointer;

}

.loginButtons button:hover {
    background: rgb(163, 51, 51);
}